{% extends 'model/base.html' %}
{% block title %}Meu Perfil{% endblock %}

{% block extracss %}

{% endblock %}

{% block content %}
<div class="centered">
    <div class="text-left card-register shadow p-4">
        {% load static %}
        <div class="centered flex-column my-profile-text">
            <div class="mb-3">
                <img src="{% static 'image/perfil-icon-hd.png' %}" style="width: 130px">
            </div>
            <h2>Meu Perfil</h2>
        </div>

        <div class="col text-left">
            <p class="register-text">Dados pessoais</p>
            <div class="register-line"></div>
        </div>
        <div class="row">
            <input type="hidden" name="next" value="{{ next }}">
            <div class="col text-left" style="margin-top: 15px;">
                <p class="login-inputs">
                    <input type="text" name="nome" class="register-input-style" placeholder="Nome"
                           value="{{perfil.name}}" disabled>
                </p>
                <div class="row">
                    <div class="col">
                        <p class="login-inputs mt-4">
                            <input type="text" name="sobrenome" class="register-input-style"
                                   placeholder="Sobrenome" value="{{perfil.lastname}}" disabled>
                        </p>
                    </div>
                    <div class="col">
                        <p class="login-inputs mt-4">
                             <input type="text" name="data" class="register-input-style"
                                       placeholder="Data de nascimento" value="{{perfil.birth_date}}" disabled>
                        </p>
                    </div>
                </div>
                <p class="login-inputs mt-4">
                    <input type="email" name="email" class="register-input-style" placeholder="Email"
                           value="{{perfil.user.email}}" disabled>
                </p>
                <div class="col text-left" style="margin-top: 25px;">
                    <p class="register-text">Endereço</p>
                    <div class="register-line"></div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="login-inputs mt-4">
                            <input type="text" name="cep" class="register-input-style" placeholder="CEP"
                                   value="{{perfil.address.cep}}" disabled>
                        </p>
                    </div>
                    <div class="col">
                        <p class="login-inputs mt-4">
                            <input type="text" name="cidade" class="register-input-style" placeholder="Cidade"
                                   value="{{perfil.address.city}}" disabled>
                        </p>
                    </div>
                    <div class="col">
                        <p class="login-inputs mt-4">
                            <input type="text" name="estado" class="register-input-style" placeholder="Estado"
                                   value="{{perfil.address.state}}" disabled>
                        </p>
                    </div>
                </div>
                <p class="login-inputs mt-4">
                    <input type="text" name="bairro" class="register-input-style" placeholder="Bairro"
                           value="{{perfil.address.district}}" disabled>
                </p>
                <p class="login-inputs mt-4">
                    <input type="text" name="rua" class="register-input-style" placeholder="Rua"
                           value="{{perfil.address.street}}" disabled>
                </p>
                <div class="row">
                    <div class="col-3">
                        <p class="login-inputs mt-4">
                            <input type="number" name="numero" class="register-input-style" placeholder="Número"
                                   value="{{perfil.address.number}}" disabled>
                        </p>
                    </div>
                    <div class="col-9">
                        <p class="login-inputs mt-4">
                            <input type="text" name="complemento" class="register-input-style"
                                   placeholder="Complemento" value="{{perfil.address.complement}}" disabled>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
