/* ESTILIZAÇÃO GLOBAL */
* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden
}

h1 {
    font-size: 2.2rem;
    font-weight: 300;
}

th {
    font-size: 1.1rem;
}

a, a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #0F241D;
}

p {
    font-family: 'DM Sans', serif;
    margin-bottom: 0 !important;
    color: #767676;
}

li {
    list-style: none;
}

.title {
    font-family: 'Poppins', serif;
    font-size: 36px;
    font-height: 54px;
    color: #0f241d;
    position: relative;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOGO RETECH */
.logo {
    margin-left: 123px;
    width: 155px;
    height: 60px;
    top: 9px;
    font-family: 'Poppins', serif;
    font-size: 40px;
    line-height: 60px;
    color: #000000 !important;
}

.text-colorize span {
    color: #69B99D;
}

/* LOGO RETECH FOOTER */
.footer {
    flex-shrink: 0;
    margin-left: 0px !important;
}

.footer span {
    color: #fff;
}

/* ESTILIZAÇÃO DA BARRA DE NAVEGAÇÃO */
.navbar {
    padding: 0 !important;
    border-bottom: 1px solid #E5E5E5;
}

.nav-link {
    height: 60px
}

.navbar-nav,
.nav-item a {
    color: #0f241d;
    font-family: 'DM Sans';
}

.navbar
.navbar-nav
.nav-item .nav-link:hover {
    color: #69b99d;
    border-bottom: 2px solid #69b99d;
}

.navbar-nav {
    margin-right: 131px;
}

/* DROPDOWN PERFIL */
.dropdown-toggle::after {
    display: none;
}

.dropdown > button {
    border: none;
    background-color: #F8F9FA;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    color: white;
    background-color: #69b99d;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #69b99d;
}
/* CADASTRE-SE */

.register .dropdown-toggle::after {
    display: inline-block;
}

.register.dropdown > button {
    border: none;
    background-color: #F8F9FA;
}

.dropdown .dropdown-menu .dropdown-item:hover {
    color: white;
    background-color: #69b99d;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #69b99d;
}
/* ESTILIZAÇÃO DO FOOTER */
.footer {
    width: 100vw;
    background-color: #69B99D;
    margin-top: 50px;
}

.footer,
.content {
    color: #F9F9F9;
}

/* HOVER DAS SVGs DO FOOTER */
.networks a svg:hover {
    fill: #0f241d;
}

/* TAMANHO DO CONTEÚDO ESQUERDO DA MAIN */
.main-left-content {
    max-width: 396px;
    margin-top: 5%;
}

/* MAPA DA MAIN */
.main {
    width: 100vw;
    height: 675px;
    background: url("/static/image/main-card.jpg") no-repeat fixed;
    background-size: cover;
    position: relative;
}

.main::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(238, 238, 238, 0.7);
}

/* BOTÃO DA MAIN */
.main-button {
    width: 212px;
    height: 50px;
    background: #69B99D;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 500;
    position: absolute;
    border: none;
}

/* RIGTH CONTENT */
.main-right-content img {
    width: 100%;
    max-width: 550px;
    height: 100%;
    position: relative;
    bottom: 40px;
}


/* SOBRE NÓS IMAGEM */
.computer img {
    max-width: 438px;
    height: min-content;
}

/* TAMANHO DA SEÇÃO SOBRE NÓS */
.services {
    width: 100vw;
    height: 870px;
}

/* TAMANHO DO CONTEUDO DIREITO DA SEÇÃO ABOUT */
.about-right-content {
    width: 610px;
}

/* ESTILIZANDO SEÇÃO SERVICES */
.about {
    background-color: rgba(221, 221, 221, 0.27);
    height: 870px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image: linear-gradient(90deg, transparent, #69B99D) 1;
}

/* TAMANHO DA FONTE DESCRIÇÃO SERVICES */
.services p {
    font-size: 18px;
}

/* TAMANHO DO PARAGRAFO DESRIÇÃO SERVICES */
.services-descrition {
    width: 520px;
}

/* MARGIN SERVICES */
.services-margin {
    margin-top: 120px;
    margin-bottom: 64px;
}

/* TAMANHO DO CARD DOS SERVICES */
.services-card {
    width: 350px;
    height: 350px;
    border: none;
    border-bottom: #69B99D solid 4px;
}

.services-card:hover {
    border-bottom: #69B99D solid 10px;
    opacity: 0.5;
    cursor: pointer;
}

/* COR DOS TEXTOS DOS CARDS DOS SERVIÇOS */
.services-card p {
    color: #767676;
}

.services-card h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

/* TAMANHO DA IMAGEM DO CARD DOS SERVIÇOS */
.services-card img {
    width: 80px;
}

/* TAMANHO DA SEÇÃO CONTACTS */
.contacts {
    width: 100vw;
    height: 600px;
}

/* TAMANHO DO BOTÃO DA SEÇÃO CONTACTS */
.contacts-button {
    width: 240px;
}

/* TAMANHO DO CONTEUDO ESQUERDO DA SEÇÃO CONTACTS */
.services-left-content {
    max-width: 430px;
}

/* TAMANHO DA FONTE DA SEÇÃO CONTACTS */
.services-right-content p {
    font-size: 18px;
}

/* MARGEM PARA LISTA DA SEÇÃO DE CONTATOS */
.contacts-right-content li {
    margin: 20px;
}

/* BACKGROUND DA ABA DE INFORMAÇÕES */
.bg-gray {
    background-color: #EDEDED;
}

/* TAMANHO MÁXIMO PRO TEXTO DA PRIMEIRA SEÇÃO */
.info-first-content {
    max-width: 1100px;
}

.info-section {
    height: 650px;
}


/* ESTILIZANDO ABA DE SERVIÇOS */
.card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;

}

.card p {
    color: black;
}

.card:hover {
    border-bottom: #69B99D solid 10px;
    transform: scale(1.1);
}

.botao-flutuante {
    position: fixed;
    float: bottom;
    bottom: 80px;
    right: 40px;
    z-index: 9999
}

.information-btn {
    width: 220px;
    height: 60px;
    background: #69DDB4;
    border-radius: 12px;
    color: black;
    font-weight: 700;
    font-size: 18px;
    border: none;
}

footer {
    z-index: 1000;
}

section {
    z-index: 2
}

.card-login {
    width: 500px;
    height: 300px;
    background: #F4F4F4;
    font-weight: 500;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 80px;
}

.input-style {
    width: 440px;
    height: 38px;
    padding-left: 6px;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.btn-login {
    width: 100px;
    height: 40px;
    background: #69B99D;
    border-radius: 3px;
    border: none;
    color: white;
}

.btn-login:hover {
    background: rgba(105, 185, 157, 0.84);
}

.btn-hover:hover {
    background: rgba(92, 255, 196, 0.84);
}

.text-forget-pass {
    font-size: 20px;
    font-weight: 500;
}

.text-login-hover {
    color: #69B99D;
}

.text-login-hover:hover {
    color: rgba(105, 185, 157, 0.84);
}

.card-register {
    width: 600px;
    background: #F4F4F4;
    font-weight: 500;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.register-text {
    color: #B8B2B2;
}

.register-line {
    background-color: #B8B2B2;
    height: 1px;
    width: 100%;
}

.register-input-style {
    width: 100%;
    height: 38px;
    padding-left: 6px;
    background-color: #FFFFFF;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.my-profile-text h2 {
    color: #69B99D;
    font-size: 1.5rem;
    font-family: 'Poppins', serif;
    font-style: normal;
}

.marketplace-search {
    height: 50px !important;
}

.card-marketplace h5 {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.value-product p {
    color: #69B99D;
    font-size: 1.2rem;
    font-family: 'Poppins', serif;
    font-style: normal;
}

.description-product p {
    color: #767676;
}

.container h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.anuncio {
    width: 300px !important;
}

.description {
    width: 300px !important;
    height: 150px !important;
}

.card-produto {
    width: 1200px;
    background: #F4F4F4;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 100px;
}

.text-product {
    font-size: 1.2rem;
}