<div class="row text-center" >
    <div class="col-lg-12" style="display: flex; justify-content: center">
      <ul class="pagination">
        {% if db.has_previous %}
          <li class="page-item"><a class="page-link" href="{% if request.GET.search %}?search={{request.GET.search}}&page={{db.previous_page_number}}{% else %}?page={{db.previous_page_number}}{% endif %}">&laquo;</a></li>
        {% endif %}
        {% if db.paginator.num_pages > 1 %}
            {% for pg in db.paginator.page_range %}
            <!-- Sempre mostra as 3 primeiras e 3 últimas páginas -->
            {% if pg == 1 or pg == 2 or pg == 3 or pg == db.paginator.num_pages or pg == db.paginator.num_pages|add:'-1' or pg == db.paginator.num_pages|add:'-2' %}
                {% if db.number == pg %}
                <li class="page-item active"><a class="page-link" href="?page={{pg}}">{{ pg }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{pg}}"> {{ pg }} </a></li>
                {% endif %}
    
            {% else %}
    
                {% if db.number == pg %}
                <li class="page-item active"><a class="page-link" href="?page={{pg}}">{{ pg }}</a></li>
                {% elif pg > db.number|add:'-4' and pg < db.number|add:'4' %} <!-- Mostra 3 páginas antes e 3 páginas depois da atual -->
                <li class="page-item"><a class="page-link" href="?page={{pg}}">{{ pg }}</a></li>
                {% elif pg == db.number|add:'-4' or pg == db.number|add:'4' %}
                <li class="page-item"><a class="page-link" href="">...</a></li>
                {% endif %}
            {% endif %}
            {% endfor %}
        {% endif %}
  
        {% if db.has_next %}
          <li class="page-item"><a class="page-link" href="{% if request.GET.search %}?search={{request.GET.search}}&page={{db.next_page_number}}{% else %}?page={{db.next_page_number}}{% endif %}">&raquo;</a></li>
        {% endif %}
      </ul>
    </div>
  </div>