{% extends 'model/base.html' %}

{% block content %}
<div class="container">
    <h1 class="mb-4 text-center">Item para anúncio</h1>
    <div class="centered">
        <div class="text-center card-register shadow p-4">
            {% load static %}
            <div class="my-profile-text d-flex">
                <div class="me-3 mb-3">
                    <img src="{% static 'image/perfil-icon-hd.png' %}" style="width: 50px;">
                </div>
                <h2 class="mt-2">{{ usuario.name|title }} {{ usuario.lastname|title }}</h2>
            </div>
            <form method="get">
                <select class="input-style anuncio mt-1 mb-3" id="tipo-anuncio" name="tipoanuncio" onchange="this.form.submit()">
                    <option value="" disabled selected>Tipo de Anúncio</option>
                    <option value="venda" {% if request.GET.tipoanuncio == 'venda' %} selected {% endif %}>Venda</option>
                    <option value="doacao" {% if request.GET.tipoanuncio == 'doacao' %} selected {% endif %}>Doação</option>
                </select>
            </form>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="tipoanuncio" value="{{  request.GET.tipoanuncio  }}">
                <p><input class="input-style anuncio mb-3" type="text" placeholder="Título" name="titulo"></p>
                {% if contexto %}
                <p><input class="input-style anuncio mb-3" type="{{ contexto.inputtype }}" placeholder="Preço" name="preco"></p>
                {% endif %}
                <p><input class="input-style anuncio mb-3" type="text" placeholder="Categoria" name="categoria"></p>
                <p><textarea class="input-style description mb-2" rows="4" cols="50" placeholder="Descrição..." name="descricao"></textarea></p>
                <p><input class="input-style anuncio mb-3" type="text" name="cidade" placeholder="Cidade"></p>
                <p><input class="input-style anuncio mb-3" type="file" name="image" placeholder="Imagem"></p>
                <button type="submit" class="btn-login" style="width: 160px; height: 34px; margin: 0 !important">Publicar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}