{% extends 'model/base.html' %}

{% block title %}Página Inicial - Retech.{% endblock %}

{% block content %}
{% load static %}
<section class="main centered">
    <div class="container">
        <div class="row">
            <div class="col main-left-content">
                <h1 class="title">Encontre os pontos de descarte mais próximos de você</h1>
                <a href="/service">
                    <button type="button" class="main-button mt-4 btn-hover">
                        ONDE DESCARTAR?
                    </button>
                </a>
            </div>
            <div class="col main-right-content text-center">
                <img src="{% static 'image/main-card2.png' %}" alt="Card" class="Card">
            </div>
        </div>
    </div>
</section>

<section id="Service" class="services">
    <div class="container centered">
        <div class="text-center title services-margin">
            <h1>Serviços</h1>
            <p class="services-descrition text-colorize">
                Com mais de 10 anos no mercado, a <span>Retech</span> já conquistou clientes de inúmeros países com seus
                tratamentos
                exclusivos e totalmente naturais
            </p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col text-center ">
            <div class="card services-card shadow-sm ms-auto">
                <div class="my-auto">
                    <a href="{% url 'service' %}">
                    <img src="{% static 'image/loupe.png' %}" class="mx-auto" alt="Pontos de descarte">
                    <div class="card-body">
                        <h5 class="card-title">Pontos de Descarte</h5>
                        <p>
                            Encontre os pontos de descarte mais próximos de você.
                        </p>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card services-card shadow-sm mx-auto">
                <div class="my-auto">
                    <img src="{% static 'image/caridade.png' %}" class="mx-auto" alt="Faça uma doação">
                    <div class="card-body">
                        <h5 class="card-title">Doações</h5>
                        <p class="card-text">Encontre uma forma de reutilizar o que pode não ser útil para você</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card services-card shadow-sm me-auto">
                <div class="my-auto ">
                    <a href="{% url 'marketplace' %}">
                        <img src="{% static 'image/search.png' %}" class="mx-auto" alt="Marketplace">
                        <div class="card-body">
                            <h5 class="card-title">Marketplace</h5>
                            <p>
                                Compre ou venda peças de produtos eletrônicos
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Sobre" class="about centered">
    <div class="container">
        <div class="row">
            <div class="col centered text-center computer">
                <img src="{% static 'image/computer.jpeg' %}" alt="Card" class="Card">
            </div>
            <div class="col about-right-content">
                <h1 class="title">Sobre nós</h1>
                <p>
                    A Retech é uma empresa que irá revolucionar o descarte de lixo eletrônico, buscando ensinar a melhor
                    forma de fazer o descarte e também temos o objetivo de mostrar onde estão os pontos de coleta mais
                    próximos a você.
                </p>
                <br>
                <p>
                    Nossa missão é fazer com que você cidadão que possui um componente eletrônico, computadores,
                    monitores e
                    etc, que não funcionem ou que funcionem descarte o produto eletrônico da melhor forma possível, ou
                    caso
                    você esteja diante de um produto eletrônico defasado e não sabe o que fazer, temos o contato de
                    algumas
                    Ong’s que possam ser feitas doações deste produto, além de possibilitar a compra e venda de
                    componentes
                    eletrônicos.
                </p>
                <br>
                <p>
                    Nosso objetivo é conscientizar o cidadão sobre o descarte adequado do lixo eletrônico, além de
                    favorecer
                    que você consiga doar o seu produto eletrônico que está sem uso ou defasado.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="Contacts" class="contacts centered">
    <div class="container">
        <div class="row">
            <div class="col services-left-content">
                <h1 class="title">Entre em contato com a gente!</h1>
                <p>Entre em contato com a Retech, queremos tirar suas dúvidas, ouvir suas críticas e sugestões.</p>
                <button type="button" class="main-button contacts-button mt-4 text-center btn-hover">
                    {% load bootstrap_icons %}
                    {% bs_icon 'whatsapp' extra_classes="me-2" size='20px' color='white' %}
                    Entrar em contato
                </button>
            </div>
            <div class="col separate">
            </div>
            <div class="col text-start contacts-right-content">
                <ul>
                    <li>
                        <p>
                            {% bs_icon 'telephone' extra_classes="me-2" size='20px' color='#69B99D' %}
                            11 89988-8888
                        </p>
                    </li>
                    <li>
                        <p>
                            {% bs_icon 'geo-alt' extra_classes="me-2" size='20px' color='#69B99D' %}
                            R. Pedro Porpino da Silva, 1181
                        </p>
                    </li>
                    <li>
                        <p>
                            {% bs_icon 'envelope' extra_classes="me-2" size='20px' color='#69B99D' %}
                            contato@retech.com
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}