{% extends 'model/base.html' %}

{% block title %}Informações - Retech.{% endblock %}

{% block content %}
{% load static %}
<div class="botao-flutuante">
    <a href="{% url 'service' %}">
        <button type="button" class="information-btn shadow btn-hover">
            Onde descartar?
             <img src="{% static 'image/lupa.png' %}" alt="lupa" class="lupa" style="width: 45px;">
        </button>
    </a>
</div>
<section class="info-section centered bg-gray">
    <div class="container text-start info-first-content">
        <h1 class="title">
            Como o descarte correto do lixo eletrônico contribui com o meio ambiente?
        </h1>
        <br>
        <p class="lh-base">
            O destino que damos a um celular, computador, monitor, tv etc, pode influenciar diretamente na saúde
            pública e
            no meio ambiente. De acordo com Marli França, responsável pela área da saúde da BRK ambiental em Mauá,
            “o
            descarte incorreto” de material eletrônico resulta em danos à saúde pública devido às substâncias
            tóxicas
            liberadas, podendo também contaminar solos e lençois freáticos.
        </p>
        <br>
        <p class="lh-base">
            Para fazer a sua parte, os produtos que não estão mais sendo utilizados em sua casa podem ser entregues
            em
            pontos de coleta ou em lojas que comercializam produtos eletrônicos ou você pode efetuar a doação deste
            produto
            eletrônico, caso ainda esteja funcional. Essas pequenas atitudes e mudanças de hábito podem contribuir
            significativamente para saúde do planeta.
        </p>
    </div>
</section>

<section class="info-section centered">
    <div class="container ">
        <div class="row">
            <div class="col">
                <h1 class="title">Como é feito a reciclagem de aparelhos eletrônicos?</h1>
                <br>
                <p>
                    Atualmente, o lixo eletrônico passa por diversas etapas de reciclagem, sendo elas: Triagem,
                    trituração, separação, e destinação final.
                </p>
                <br>
                <p>
                    A triagem acontece na hora em que os produtos chegam. Uma equipe realiza do processo de triagem por
                    tipo de produto, de acordo com suas especificidades, são separados das demais impurezas.
                </p>
                <br>
                <p>
                    Após a triagem, uma máquina faz a trituração e a separação dos materiais presentes nos
                    eletroeletrônicos. São realizadas divresas etapas, por meio da densidade de cada elemento
                    facilitando o processo de reaproveitamento e destinação final da matéria extraída.
                </p>
                <br>
                <p>
                    Com as matérias-primas separadas e trituradas é feito o envio desses materiais para indústria
                    produzir novas mercadorias, que variam desde novos eletroeletrônicos até assoalhos e cimento.
                </p>
            </div>
            <div class="col text-center my-auto">
                <img src="{% static 'image/e-trash.png' %}" alt="Card" class="Card">
            </div>
        </div>
    </div>
</section>

<section class="info-section centered bg-gray">
    <div class="container">
        <div class="row">
            <div class="col text-center my-auto">
                <img src="{% static 'image/conservacao.png' %}" alt="Card" class="Card">
            </div>
            <div class="col my-auto">
                <h1 class="title">Qual o impacto do lixo eletrônico no meio ambiente?</h1>
                <br>
                <p>
                    No geral, o descarte incorreto dos lixos eletrônicos impacta na saúde pública devido a presença de
                    diversos metais pesados nesses produtos, gera danos ao meio ambiente contaminando os solos e lençois
                    freáticos e os organismos da fauna e da flora, além de reduzir o tempo de vida de aterros
                    sanitários.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="info-section centered">
    <div class="container text-start info-first-content">
        <h1 class="title">
            O que é considerado lixo eletrônico?
        </h1>
        <br>
        <p class="lh-base">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <br>
        <p class="lh-base">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
            release of Letraset sheets containing.
        </p>
    </div>
</section>

<section class="info-section centered bg-gray">
    <div class="container">
        <div class="row">
            <div class="col my-auto">
                <h1 class="title">Separe o que será descartado</h1>
                <br>
                <p>
                    Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>
                <br>
                <p>
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                    essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing Lorem Ipsum passages,
                </p>
            </div>
            <div class="col text-center my-auto">
                <img src="{% static 'image/separar.png' %}" alt="Card" class="Card">
            </div>
        </div>
    </div>
</section>

<section class="info-section centered">
    <div class="container">
        <div class="row">
            <div class="col text-center my-auto">
                <img src="{% static 'image/gary.png' %}" alt="Card" class="Card">
            </div>
            <div class="col my-auto">
                <h1 class="title">Encontre o ponto de coleta mais próximo de você em nosso site</h1>
                <br>
                <p>
                    Após ter feito a separação do que pode realmente ser descartado, dirija-se ao ponto de coleta mais
                    próximo da sua casa. Mas como você irá localizar o ponto mais próximo a sua casa?
                </p>
                <br>
                <p>
                    Dentro do nosso site, navegue até a área de serviços no canto superior direito e digite o seu
                    endereço, nosso site irá retornar o ponto de coleta mais próximo a sua residência.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}