{% extends 'model/base.html' %}

{% block title %} Service {% endblock %}

{% block content %}
<div style="min-height: 64vh;">
    <div class="col-8 col-xxl-5 col-sm-7 m-auto pt-2 pb-2" style="text-align: right;">
        <form method="get">
            <input type="text" id="search" name="search" class="form-control shadow" placeholder="Buscar..."
                value="{{ request.GET.search }}">
        </form>
    </div>
    <div class="row mt-5 ms-2 me-2" style="display: flex; justify-content: center; gap: 3rem;">
    {% for m in db %}
        <div class="card" style="width: 17.375rem; height: 16.25rem;">
            <img src="{{ m.logo.url }}" style="height: 144px; padding-top: 10px">
            <div class="card-body text-center" style="display: flex; justify-center: center; align-items: center; flex-direction: column;">
                <p class="card-title">{{ m.address }}</p>
                {% if m.phone %}
                    <p>{{ m.phone }}<p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% include "includes/pagination.html" %}
    </div>
</div>
{% endblock %}