{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>

    <!-- FONTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@700&display=swap" rel="stylesheet">
    {% block extracss %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <a href="{% url 'home' %}" class="logo text-colorize">
        Re<span>tech</span>.
    </a>
    <div class="container-fluid ">
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar" id="navbarNav">
            <ul class="navbar-nav ms-auto pt-3" style="align-items: center;">
                <li class="nav-item ms-auto ps-3 pe-3">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item ms-auto ps-3 pe-3">
                    <a class="nav-link" href="{% url 'service' %}">Locais</a>
                </li>
                <li class="nav-item ms-auto ps-3 pe-3">
                    <a class="nav-link" href="/information/">Informações</a>
                </li>
                <li class="nav-item ms-auto ps-3 pe-3">
                    <a class="nav-link" href="{% url 'marketplace' %}">Marketplace</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item ms-auto ps-3 pe-3">
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'image/perfil-icon.png' %}" style="width: 40px">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="{% url 'profile' %}">Perfil</a></li>
                          <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                        </ul>
                      </div>
                </li>
                {% else %}
                <li class="nav-item ms-auto ps-3 pe-3">
                    <a class="nav-link" href="/accounts/login">Login</a>
                </li>
                <li class="nav-item ms-auto ps-3 pe-3" style="margin-bottom: 16px;">
                    <div class="dropdown register">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Cadastre-se
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="{% url 'signup_pf' %}">Pessoa Fisica</a></li>
                          <li><a class="dropdown-item" href="{% url 'signup_pj' %}">Empresa</a></li>
                        </ul>
                      </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<div class="footer">
    <footer class="row py-5 border-top">
        <div class="col">
        </div>
        <div class="col content">
            <a href="{% url 'home' %}" class="logo footer">
                Re<span>tech</span>.
            </a>
            <p>&copy; 2022 Retech.</p>
            <p>Todos os direitos reservados.</p>
        </div>
        <div class="col">
        </div>
        <div class="col networks float-right my-auto d-flex justify-content-end">
            {% load bootstrap_icons %}
            <a href="">{% bs_icon 'whatsapp' extra_classes="mx-3" size='30px' color='white' %}</a>
            <a href="">{% bs_icon 'instagram' extra_classes="mx-3" size='30px' color='white' %}</a>
            <a href="">{% bs_icon 'facebook' extra_classes="mx-3" size='30px' color='white' %}</a>
            <a href="">{% bs_icon 'youtube' extra_classes="ms-3" size='30px' color='white' %}</a>
        </div>
        <div class="col">
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>